export(CompleteTriangle)
export(CreateCumulative)
export(CreateDevelopmentLags)
export(CreateEvaluationDates)
export(CreateIncrementals)
export(CreateOriginPeriods)
export(CreatePriors)
export(FormMeasureNames)
export(GetNAICData)
export(GetStochasticColumnNames)
export(PivotTriangle)
export(PlotModelFactors)
export(PlotModelGoF)
export(newTriangle)
export(plotTriangleModel)
export(summaryTriangleModel)
exportClasses(Triangle)
exportClasses(TriangleModel)
